.form-control {
  padding: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  margin-bottom: 0.25rem;
}

.form-control input {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus {
  outline-color: #00695c;
}

.radio {
  margin: 0;
  padding: 0;
  position: relative;
}

.radio label {
  padding: 0;
  margin: 0;
}

.radio label {
  position: absolute;
  margin: 0 1.5rem;
}

.radio input {
  position: absolute;
}