<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/header.ejs %>
  </head>

  <body style="background-color: <%= color %>">
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1><%= title %></h1>
        <form action="/ta05/change-style" method="POST">
          <label for="color">Choose a Color (red, blue, green):</label>
          <input type="text" name="color" id="color" />
          <!-- <input type="hidden" name="constant" value="1" /> -->
          <button class="btn btn-default" type="submit">Change Color</button>
        </form>
        <div>
          <form action="/ta05/counter" method="POST">
            <input type="hidden" name="constant" value="1" />
            <button class="btn btn-default" type="submit">+</button>
          </form>
          <%= counter %>
          <form action="/ta05/counter" method="POST">
            <input type="hidden" name="constant" value="-1" />
            <button class="btn btn-default" type="submit">-</button>
          </form>
        </div>
        <div>
          <form action="/ta05/reset" method="POST">
            <input type="hidden" name="reset" value="true" />
            <button class="btn btn-default" type="submit">Reset Session</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container"></div>
  </body>
</html>
